


.adminloginbtn{
    border: 1px solid #00156A;
    padding: 8px;
    font-weight: bold;
    color: #00156A;
    border-radius: 4px;
    transition: 0.7s ease-in-out;
    background-color:white;
    
    margin-top:40px;
    width: 100px;
    height:53px;
    
  } 
  
  
  .adminloginbtn:hover{
    background-color: #00156A;
    color: aliceblue;
  }