
  

*{
    margin: 0px;
    padding: 0px;
   

    }



.div1{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    

     
  
}
.ccontainerss{
    
    
    width: 550px;
    height: 490px;
    background-color: #F2F2F2;
    padding-left: 30px;
    padding-top: 7px;
    padding-bottom: 8px;
    box-shadow: 1px 2px 4px  black;
    border-radius: 20px;
    margin-top: -13px;

    }

.name{
    font-size: 20px;


}

.text{
    width: 300px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding-left: 15px;


}
.text:hover{
    background-color: #90EE90;
}
.placebutton{
    border: 1px solid #00156A;
    padding: 3px;
    font-weight: bold;
    color: #00156A;
    border-radius: 4px;
    transition: 0.7s ease-in-out;
    background-color:white;
    margin-left: 380px;
    margin-top:-3px;
    width: 100px;
    height:45px;
    
  } 
  
  
  .placebutton:hover{
    background-color: #00156A;
    color: aliceblue;
  }
.btn:hover{
    background-color: #951EE9;
    }
    h2{
        text-align: center;
        padding-bottom: 10px;
    }
    p{
        text-align: center;
        margin-top: 10px;
    }